.mainContainer{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 auto;
    width: 100%;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.leftContainer button{
    width: 100px;
}

.rightContainer{
    display: flex;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 50rem;
    max-height: 50rem;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0;
    gap: 0.5rem;
}

.button{
    display: flex;
    border: none;
    /* background-color: var(--font-color); */
    background-color: transparent;
    color: var(--inverse-font-color);
    border-radius: 5px;
    width: 5rem;
    justify-content: center;
}

.button:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.sumupContainer{
    margin: 2rem 0;
}

.sumupContainer p{
    text-align: center;
}

.sumupContainer button{
    background-color: var(--green);
    padding: 1rem 2rem;
    font-size: 20px;
    width: fit-content;
    margin: 1rem auto;
    display: flex;
}


@media (max-width: 1000px) {

    .mainContainer{
        flex-direction: column-reverse;
    
    }

    .leftContainer h1{
        text-align: center;
    }
   
}


@media (max-width: 500px) {

  
}
