.mainContainer{
    display: flex;

    margin: 0 auto;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.leftContainer button{
    width: 100px;
}

.rightContainer{
    display: flex;
    width: 50%;
    position: relative;
    min-width: 30rem;
    min-height: 40rem;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 0;
}

.button{
    border: none;
    background-color: var(--font-color);
    color: var(--inverse-font-color);
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
}

.button:hover{
    transform: scale(1.05);
    transition: 0.5s;
}


@media (max-width: 1000px) {

    .mainContainer{
        flex-direction: column;
    }

    .rightContainer,
    .leftContainer{
        width: 100%;
    }

    .leftContainer h1{
        text-align: center;
    }
 
    .leftContainer p{
        display: none;
    }

    .button{
        margin: 1rem auto;
        text-align: center;
    }
}


@media (max-width: 500px) {

  
}
