.mainContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(50vh, 1fr));
    width: 100%;
}

.leftContainer, .rightContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leftContainer button, .rightContainer button{
    width: 100px;
}