.container{
    width: 100svw;
    height: 100svh;
    z-index: 100;
    background-color: var(--hard-brown);
    position: fixed;   
    justify-content: center;  
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
}

.logoContainer{
   width: 20vw;
   display: flex;
}

.show{
    animation: fade-up 0.3s ease-out 2s both;
}

@keyframes fade-up {
    0%{
        display: flex;
    }

    100%{
         transform: translate3d(0, -120%, 0);  
         display: none;
    }
}