.mainContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(50%, 1fr));
    min-height: 100vh;
}

.desktopContainer, .engranajeContainer{
    width: 20rem;
    margin: auto;
}

.textContainer{
    margin: auto 0;
}

.textContainer p{
    opacity: 0;
    view-timeline-name: --item-timeline;
    animation-timeline: --item-timeline;
    animation-range: 15% 30%; 
    animation-name: appear_right;  
    animation-fill-mode: forwards; 
}

.svgContainer svg{
    margin: auto 0;
}

@media (max-width: 1000px) {

    .mainContainer{
        display: flex;
        flex-direction: column;
    }

    .textContainer{
        padding: 3rem 0;
    }

    .engranajeContainer{
        order: 4;
    }
}

@media (max-width: 500px) {

    .desktopContainer, .engranajeContainer{
        width: 15rem;
    }
}


/* KEYFRAME */

@keyframes appear_right {
    0%{
        opacity: 0;
        transform: translateX(5vh);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0vh);
    }
}