.mainContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(50%, 1fr));
}

.engranajeContainer{
    padding:  0 5rem;
}

@media (max-width: 1000px) {

    .mainContainer{
        display: flex;
        flex-direction: column;
    }

    .textContainer{
        padding: 3rem 0;
    }

}
