.mainContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(50%, 1fr));
}

.engranajeContainer{
    padding:  0 5rem;
}

.textContainer p{
    opacity: 0;
    view-timeline-name: --item-timeline;
    animation-timeline: --item-timeline;
    animation-range: 25% 50%; 
    animation-name: appear_right;  
    animation-fill-mode: forwards; 
}

@media (max-width: 1000px) {

    .mainContainer{
        display: flex;
        flex-direction: column;
    }

    .textContainer{
        padding: 3rem 0;
    }

}


/* KEYFRAME */

@keyframes appear_right {
    0%{
        opacity: 0;
        transform: translateX(5vh);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0vh);
    }
}