.mainContainer{
    display: flex;
    margin: 0 auto;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.leftContainer button{
    width: 100px;
}

.rightContainer{
    display: flex;
    width: 50%;
    position: relative;
    height: 30rem;
}

.rightContainer img{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {

    .leftContainer p{
        padding: 3rem 0;
    }
    .mainContainer{
        display: flex;
        flex-direction: column-reverse;
    }

    .rightContainer,
    .leftContainer{
        width: 100%;
    }

    .button{
        margin: 1rem auto;
        text-align: center;
    }
}

