.mainContainer{
    display: flex;
}

.leftContainer{
    display: flex;
    flex-direction: column;
}

.leftContainer button{
    width: 100px;
}

.rightContainer{
    display: flex;
}

@media (max-width: 1000px) {

    .leftContainer p{
        padding: 3rem 0;
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
    }
}

