.mainContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(50%, 1fr));
}

.leftContainer{
    display: flex;
    flex-direction: column;
}

.leftContainer button{
    width: 100px;
}

.rightContainer{
    display: flex;
}