
	.st0{fill:var(--soft-brown);}
	.st2{fill:var(--white);
		stroke: var(--white);
		stroke-width: 10px;}
	.st3{fill:var(--soft-brown);
		stroke: var(--white);
		stroke-width: 10px;}
	.back{
		fill: var(--white);
	}
	.container{
		enable-background:new 0 0 400 400;
			}