.mainContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(50%, 1fr));
}

.leftContainer, .rightContainer{
    display: flex;
    flex-direction: column;
}

.technologyContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(1vh, 2fr));
}

.leftContainer button{
    width: 100px;
}