.st0{fill:#66BAAF;}
	.st1{fill:#F8F4E1;}
	.st2{fill:none;stroke:var(--font-color);stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st3{fill:#EAE6D6;}
	.st4{fill:none;stroke:#4E3620;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st5{fill:var(--hard-brown);}
	.st6{fill:#C17948;stroke:#4E3620;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st7{fill:#F7F6F5;stroke:#4E3620;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}

.containerFace, .face{
    position: absolute;
	transform-box: fill-box;
    transform-origin: center;
	transition: transform .35s ease-out;
}

.cara{
	transform-box: fill-box;
    transform-origin: center;
}

.containerBody{
    position: absolute;
}

.avatarWrap{
    display: flex;
    justify-content: center;
}


.avatar{
    display: flex;
    position: relative;
    height: 40vh;
    margin: auto;
	width: 60vw;
	max-width: 575px;
	animation: backed 1s ease-in 3s both;
}


@media (max-width: 1200px) {
	.avatar{
		max-width: 485px;
		width: 50vw;
	}
}


@media (max-width: 1000px) {
	.avatar{
		top: 0;
		transform: translate(-50%);
		width: 75vw;
		height: 45vh;
		min-height: 300px;
		left: 50%;
	}
}


@keyframes backed {
    0% {
        opacity: 0;
        scale:0.8;
    }
    10%{
        scale: 1.2;
    }
    20%{
        scale: 0.9;
    }
    40%{
        scale: 1.1;
    }
    60%{
        scale: 0.95;
    }
    70%{
        scale: 1.05;
    }
    80%{
        scale: 0.98;
    }
    90%{
        scale: 1.02;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}