.children{
    padding: 5rem 5rem 0 5rem;
    
}

@media (max-width: 1200px) {

    .children{
        padding: 0 100px;
    }
}

@media (max-width: 1000px) {

    .children{
        padding: 0 80px;
    }
}

@media (max-width: 700px) {
    .children{
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    .children{
        padding: 0 30px;
    }
}

@media (max-width: 500px) {

    .children{
        padding: 0 25px;
    }

}

@media (max-width: 300px) {

    .children{
        padding: 0 15px;
    }

}