.container{
    background-color: var(--font-color);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    outline: 3px solid var(--font-color);

    opacity: 0;
    animation: appear_right linear both;
    animation-timeline: view();
    animation-range: 15% 25%; 

    position: relative;
}

.textContainer{
    display: flex;
    flex-direction: column;
    position:relative;
    padding: 1rem;
}


.imageContainer{
    height: 400px;
    width: 500px;
    display: flex;
    position: relative;
}


.titleContainer{
    display: flex;

    text-align: left;

    opacity: 0;
    view-timeline-name: view();
    animation-range: 15% 25%; 
    animation-name: appear_left;  
    animation-fill-mode: forwards; 

    position: relative;
    justify-content: space-between;
}

.title{
    color: var(--inverse-font-color);
}

.github{
    width: 40px;
    height:40px;
    margin: auto 0;
}

.deploy{
    width: 30px;
    height:30px;
    margin: auto 0;
}

.separateLine{
    width: 70%;
    margin: 0 0 1.5rem 0;
    height: 3px;
    background-color: var(--inverse-font-color);
}


.shortText{
    color: var(--white);
    font-size: 15px;
    text-align: left;
}

.footerCardContainer{
    display: flex;
    position: relative;
    background-color:var(--font-color);
    justify-content: space-between;
    outline: 3px solid var(--font-color);
    
    padding: 0.5rem 1rem;

    opacity: 0;
    animation: appear_up linear both;
    animation-timeline: view();
    animation-range: 15% 25%; 
}


.technologiesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    
    margin: 0;

   
}


@media (max-width: 500px) {

    .container{
        width: 100%;
    }
}

/* KEYFRAMES */
@keyframes appear_left {
    0%{
        opacity: 0;
        transform: translate(-5vh, 5vh);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translate(0vh, 0vh);
    }
}

@keyframes appear_right {
    0%{
        opacity: 0;
        transform: translateX(5vh);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateX(0vh);
    }
}

@keyframes appear_up {
    0%{
        opacity: 0;
        background-color:var(--font-color);
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        background-color:var(--inverse-font-color);
    }
}