.container{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    outline: 3px solid var(--hard-brown);
}

.textContainer{
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
}

.textContainer p{
    margin: 1rem 0;
}

.titleContainer{
    background-color: var(--hard-brown);
    display: flex;
    justify-content: space-between;
}

.title{
    color: var(--white);
    padding: 1.5rem 0 1.5rem 4rem;
}

.shortText{
    /* color: var(--white); */
}

.github{
    margin: auto 0;
    padding: 0 4rem 0;
}

.imagesContainer{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;

}

.image{
}

.technologiesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    background-color:var(--white);
    margin: 1rem auto;
}

.blockListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    flex-direction: column;
}

.listContainer{
    margin: 1rem 0;
}

.titleList{
    background-color: var(--hard-brown);

    color: var(--white);
    padding: 1rem 2rem;
}

.list{
    margin: 1rem ;
}

.list li{
    margin: 0.5rem 0;
}

@media (max-width: 1000px) {

    .textContainer{
        padding: 2rem 3rem;
    }

    .title{
        padding: 1rem 0 1rem 3rem;
    }

    .github{
        padding: 0 3rem 0;
    }
}

@media (max-width: 500px) {

    .textContainer{
        padding: 1rem 0rem;
    }

    .title{
        padding: 1rem 0 1rem 2rem;
    }

    .github{
        padding: 0 2rem 0;
    }

    .container{
        outline: none;
    }

    .titleList{
        padding: 0.5rem 1rem;
    }
}
