.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContainer h3{
    text-align: center;
    font-weight: 800;
    display: none;
    margin-top: 2rem;
}

.technologyContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
   justify-content: space-evenly;
   margin: 3rem auto;
}



@media (max-width: 1000px) {
    .mainContainer h3{
        display: block;
        opacity: 0;

        view-timeline-name: --item-timeline;
        animation-timeline: --item-timeline;
        animation-range: 20% 40%; 
        animation-name: appear;  
        animation-fill-mode: forwards; 
    }

    .technologyContainer{
        margin: 1rem auto;
    }
}

@media (max-width: 500px) {
    .technologyContainer{
        gap: 1rem;
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(-5vh);
    }
    30%{
        opacity: 1;
    }

    100%{
        opacity: 1;
        transform: translateY(0vh);
    }
}