.formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem auto;
}

.formContainer label{
    display: flex;
    flex-direction: column;
}

.formContainer label span{
    font-weight: 800;
    padding: 0.2rem 0;
}

.input, .textarea{
    outline: 2px solid var(--font-color);
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-size: 18px;
    font-weight: 800;
    border: none;
    color: var(--font-color);
}


.input::placeholder, .textarea::placeholder{
    color: var(--soft-brown);
    font-weight: 400;
}

.input:focus, .textarea:focus{
    border: none;
    outline: 5px solid var(--green);
}

.textarea{
    height: 200px;
    resize: none;
}

.formButton{
    background-color: var(--font-color);
    color: var(--inverse-font-color);
    border: none;
    padding: 0.5rem 0;
    border-radius: 2px;
    font-size: 25px;
    font-weight: 800;
    margin: 1rem auto;
    width: 200px;

    transition: all .2s ease-in-out ;
}

.formButton:enabled:hover{
    scale: 1.1;
    color: var(--green);
    outline: solid 2px var(--green);
}

.formButton:disabled{
    scale: 1;
    color:  var(--dirty-white);
    background-color: var(--constract-hard-brown);
    outline: none;
    cursor: not-allowed;
}



@media (max-width: 500px) {

    .input, .textarea{
        font-size: 14px;
        padding: 0.5rem 0.7rem;
    }

    .textarea{
        height: 150px;
    }

    .formButton{
        font-size: 20px;
        width: 150px;
        margin: 0.5rem auto;
    }


}