.st0, .l1, .l2, .l3, .l4, .l5, .l6, .l7{
    fill: var(--font-color);
}

.l1, .l2, .l3, .l4, .l5, .l6, .l7{
    fill: var(--font-color);
    width: 0px; 
    view-timeline-name: --item-timeline;
    animation-timeline: --item-timeline;
    animation-range: entry exit;
     animation-fill-mode: forwards;  
}


.l1{
     animation-name: l1_animation;   
}

.l2{
    animation-name: l2_animation; 
}

.l3{
    animation-name: l3_animation; 
}

.l4{
    animation-name: l4_animation; 
}

.l5{
    animation-name: l5_animation; 
}

.l6{
    animation-name: l6_animation; 
}

.l7{
    animation-name: l7_animation; 
}


@keyframes l1_animation {
    40%{
        width: 0px;
    }
    50%{
        width: 328px;
    }
    100%{
        width: 328px;
    }
}

@keyframes l2_animation {
    50%{
        width: 0px;
    }
    55%{
        width: 280px;
    }
    100%{
        width: 280px;
    }
}

@keyframes l3_animation {
    55%{
        width: 0px;
    }
    65%{
        width: 318px;
    }
    100%{
        width: 318px;
    }
}


@keyframes l4_animation {
    65%{
        width: 0px;
    }
    75%{
        width: 267px;
    }
    100%{
        width: 267px;
    }
}


@keyframes l5_animation {
    75%{
        width: 0px;
    }
    85%{
        width: 316px;
    }
    100%{
        width: 316px;
    }
}


@keyframes l6_animation {
    85%{
        width: 0px;
    }
    90%{
        width: 171px;
    }
    100%{
        width: 171px;
    }
}

@keyframes l7_animation {
    0%{
        width: 0px;
    }
    90%{
        width: 0px;
    }
    100%{
        width: 316px;
    }
}
