.sectionContainer{
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    min-height: 80vh;
    padding: 0;
    margin: 0 auto;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.title{
    animation: reveal .8s cubic-bezier(.215,.61,.355,1) 0.5s backwards;
    
}

.text{
    animation: reveal .8s cubic-bezier(.215,.61,.355,1) 0.7s backwards;
    margin-top: 20px;
}

.socialMediaContainer{
    display: flex;
    margin-top: 1rem;
    gap: 10px; 
    animation: reveal .8s cubic-bezier(.215,.61,.355,1) 0.9s backwards;
}

.socialMedia{
    width: 40px;
    height: 40px;
}

.socialMedia:hover{
    scale: 1.1;
}

@media (max-width: 1000px) {

    .sectionContainer{
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
   
    .socialMedia{
        width: 30px;
        height: 30px;
    }
    
    .title, .text{
        text-align: center;
    }
    .socialMediaContainer{
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .socialMedia{
        width: 20px;
        height: 20px;
    }

    .sectionContainer{
        min-height: 70vh;  
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
}