.sectionContainer{
    min-height: 100vh;

}

.header{
    position: relative;
    display: flex;
}

.pageHeaderInr{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.pageContent{
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 25vh;
    margin-bottom: 100px;
}

.avatarBg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.pageContent h1{
    animation: reveal .8s cubic-bezier(.215,.61,.355,1) .25s backwards;
}

.pageContent p{
    animation: reveal .8s cubic-bezier(.215,.61,.355,1) .25s backwards;
}


@media (max-width: 1000px) {

    .sectionContainer{
        flex-direction: column-reverse;
        justify-content: start;
    }

    .avatarBg{
        position: relative;
        margin-top: 100px;
        left: 0;
        height: 35vh;
        min-height: 300px;
    }

    .pageHeaderInr{
        margin: auto;
        justify-content: center;
        text-align: center;
    }

}


@media (max-width: 500px) {

    .avatarBg{
        position: relative;
        margin-top: 100px;
        left: 0;
        height: 25vh;
        min-height: 200px;
    }
  
}
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
}
