.mainContainer{
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.leftContainer p {
    margin: 1rem 0;
}

.title{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 13ch;
    animation: typing 1s steps(13), blink_animation .5s infinite step-end alternate;
    overflow: hidden;
}

.rightContainer{
    display: flex;
    position: relative;
    height: 30rem;
    margin: auto ;
    width: 50%;
}

.button{
    width: 5rem;
}


@media (max-width: 1000px) {

    .mainContainer{
        flex-direction: column-reverse;
    }

    .rightContainer,
    .leftContainer{
        width: 100%;
    }

    .button{
        margin: 1rem auto;
        text-align: center;
    }
}


@media (max-width: 500px) {

  
}


/* KEYFRAMES */

@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blink_animation {
    50%{
        border-color: transparent;
    }
}