.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.experienceContainer{
    display: grid;
    grid-template-columns: 5px 1fr;
    margin: 1.5rem 0;
}

.experienceContentContainer{
    display: grid;
}

.line{
    background-color: var(--font-color);
    height: 0%;

    view-timeline-name: --item-timeline;
    animation-timeline: --item-timeline;
    animation-range: 20% exit; 
    animation-name: showLine;  
    animation-fill-mode: forwards; 
}

@keyframes showLine {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}