.mainContainer{
    display: flex;
    /* grid-template-columns: repeat(
        auto-fit, minmax(50%, 1fr)); */
    padding: 5rem 10rem;
    margin: 0 5rem;
    background-color: white;
    width: 100%;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leftContainer button{
    width: 100px;
}

.rightContainer{
    display: flex;
    width: 100%;
}