.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--inverse-font-color);
}

.carrousel{
    display: flex;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.inputContainer{
    display: flex;
    width: 100%;
    justify-content:  center;
    background-color: var(--font-color);
    padding: 0.5rem 0;
    outline: 3px solid var(--font-color);
    z-index: 1;
}

.inputButton{
    width: 25px;
    height: 25px;
    margin: auto 0.5rem;
    border-radius: 50%;
    border: none;
    transition: scale .2s ease-in-out;
    background-color: var(--font-color);
}

.inputButton:hover{
    scale: 1.1;
}

@media (max-width: 1200px) {
    .inputButton{
        width: 20px;
        height: 20px;
        margin: auto 0.3rem;
    }
}