:root {
    --green: #66BAAF;
    --red: #E44E4C;
    /* --white: #FAEBC2; */
    --white: #f8f4e1;
    --dirty-white: #dcd8c3;
    --soft-brown:#9D836A;
    --constract-hard-brown: #897853;
    --second: #f8f4e1;
    --hard-brown:#4e3620;
}