.navigationContainer{
    outline: 3px solid var(--navbar-stroke);
    background-color: var(--navbar);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;
    height: 100svh;
    width: 500px;
    justify-content: center;
 }

 .navigationWrapper{
    display: flex;
    flex-direction: column;
    position: relative; 
    width: 100%;
    height: 100%;
    justify-content: center;
 }

 .listContainer{
    margin: 0 2rem;
    position: absolute;
    top: 100px;
}

.navbarOption{
    margin: 1.5rem 1rem;
    transition: all 0.1s ease-in;
}

.navbarOption:hover{
    scale: 1.05;
}

.navbarButton{
    margin: 2rem 1rem 1rem 1rem;
}

.navigationElement{
    outline: none;
    color: var(--font-color-navbar);
    font-size: 22px;
    text-decoration: none;
    transition: all 0.1s linear;
}

.toggleTitle, .title{
    color: var(--font-color-navbar);
}

.navigationElement:hover{
    color: var(--green);
    font-weight: 600;
}

.toggleContainer{
    display: flex;
    flex-direction: column;
}

.machineContainer{
    position: absolute;
    position: absolute;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 30px;
    left: 0;
    right: 0;
    opacity: 0;
}

.backButton{
    display: flex;
    width: 25px;
    background-color: transparent;
    border: none;
    margin: 0 1rem;
}

.appear{
    animation: appear 0.3s ease-out forwards;
}

.disappear{
    animation: disappear 0.3s ease-out forwards;
}

.appearMachine{
    animation: appear-machine 0.3s ease-out both;
}
.disappearMachine{
    display: none;
}

.buttonShowCoffee{
    display: flex;
    background-color: var(--green);
    background-color: transparent;
    color: var(--white);
    border: none;
    border-radius: 2px;
    font-weight: 800;
    width: 200px;
    margin: 0.5rem 0;
    justify-content: space-between;
    position: relative;

    transition: all .2s ease-in-out;
}

.buttonShowCoffee::after{
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 4px);
    background-color: var(--green);
    top: 2px;
    left: 20px;
    z-index: 1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttonShowCoffeeLogo, .buttonShowCoffeeLogoCoffee{
    display: flex;
    background-color: var(--white);
    outline: 2px solid var(--hard-brown);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 5;
}
.buttonShowCoffeeLogoCoffee svg{
    display: flex;
    margin: auto;
    width: 30px;
    height: 30px;
}


.buttonShowCoffee a, .buttonShowCoffeeText{
    color: var(--white);
    text-decoration: none;
    margin: auto;
    font-size: 22px;
    z-index: 5;
}

.buttonShowCoffee:hover  {
    scale: 1.1;
}

@media (max-width: 500px) {
    .navigationContainer{
        border: none;
        position: relative;
        margin: 0;
        outline: none;
        justify-content: flex-start;
     }

     .listContainer{
        margin: 4rem 1rem 2rem 1rem;
    }

    .title{
        padding: 1rem 0;
        text-align: left;
     }

    .navbarOption{
        margin: 0.5rem;
    }

    .navbarButton{
        margin:1.5rem 0.5rem 1rem 0.5rem;
    }

    .navigationElement{
        font-size: 16px;
    }

    .machineContainer{
        margin: 0 1rem;
    }

    .formButton{
        font-size: 18px;
        width: 150px;
        margin: 0.5rem auto;
    }

    .buttonShowCoffee{
        margin-top: 1rem;
        width: 160px;
    }

    .buttonShowCoffeeLogo, .buttonShowCoffeeLogoCoffee{
        width: 30px;
        height: 30px;
    }

    .buttonShowCoffeeLogoCoffee svg{
        width: 24px;
        height: 24px;
    }
    
    .buttonShowCoffee a, .buttonShowCoffeeText{
        font-size: 18px;
    }
}

@media (max-width: 300px) {

    .machineContainer{
        margin: 0.2rem;
    }
}

@keyframes appear-machine {
    0%{
        transform: translate(5vh, 0);
        opacity: 0;
        display: none;
    }
    10%{
        display: flex;  
    }
    30%{   
        
        opacity: 1;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
        display: flex; 
    }
}



@keyframes appear {
    0%{
        transform: translate(5vh, 0);
        opacity: 0;
    }
    10%{
        /* display: flex; */
    }
    30%{    
        opacity: 1;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}


@keyframes disappear {
    0%{
        transform: translate(0, 0);
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    90%{
        transform: translate(5vh, 0);
    }
    100%{  
        display: none;
        opacity: 0;
    }
}