.header{
    border: 1px;
    border-radius: 4px;
    width: 100%;
    position:  fixed;
    z-index: 10;
    top: 0;
    transition: transform 0.4s;
    animation: appear 0.4s ease-in 2.5s backwards;
}

.scrollDown  {
    transform: translate3d(0, -100%, 0);
}

.scrollUp  {
    transform: none;
}

.navigation {
    display: flex; 
    flex-direction: column;
}

.navigationHeader{
    overflow:hidden;  
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    z-index: 20;
}

.logoContainer{
    padding: 1rem;
    width: 5rem;
}

.displayButton{
    width: 10rem;
    position: relative;
}

.navigationElement{
    margin: 1rem 0;
    font-size: large;
}

.navigation li{
    font-size: 20px;
}

.button{
    background-color: transparent;
    border: none;
}


@media (max-width: 1000px) {

    .logoContainer{
        padding: 1rem ;
        margin: auto 0 ;  
        width: 4rem;
    }

    .displayButton{
        width: 8rem;
    }

}

@media (max-width: 500px) {

    .logoContainer{
        padding: 0.5rem ;
        margin: auto 0;  
        width: 3rem;
    }

    .headerOpen{
        background: var(--section);
    }


     .displayButton{
        height: 70px;
        width: 80px;
    }

}


@keyframes appear {
    0%{
        transform: translate3d(0, -100%, 0);
    }
    100%{
        transform: none;
    }
}