.header{
    border: 1px;
    border-radius: 4px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

.navigation {
    display: flex; 
    flex-direction: column;
}

.navigationHeader{
    overflow:hidden;  
    display: flex;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    z-index: 20;
}

.navigationContainer{
    display: flex;
    width:  350px;
    height: 450px;
    flex-direction: column;
    padding: 6rem 4rem 3rem 4rem;
    background-color: var(--navbar);
    margin: 1.5rem 2.5rem auto auto;
    position: absolute;
    right: 0;
    transition: 0.2s;
 }

.logo{
    width: 10rem;
    position: relative;
}
.logo img{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.displayButton{
    width: 10rem;
    position: relative;
}

.navigationElement{
    margin: 1rem 0;
    font-size: large;
}

.navigation li{
    font-size: 20px;
}

@media (max-width: 1000px) {

    .navigationHeader{
        height: 8rem;
    }

    .displayButton, .logo{
        width: 8rem;
    }

    .navigationContainer{
        width:  300px;
        height: 400px;
        padding: 5rem 4rem 2rem 3rem;
        margin: 1rem 1.5rem auto auto;
    }
}

@media (max-width: 500px) {

    .header{
        background: linear-gradient( #e1e1e1, transparent);
    }

    .headerOpen{
        background: #fff;
    }

    .navigationHeader{
        height: 70px;
    }

    .navigationContainer{
        height: 100vh;
        background-color: white;
        margin: 0;
        position: relative;
     }

     .displayButton, .logo{
        height: 70px;
        width: 80px;
    }

}

