.header{
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    transition: transform 0.4s;
    animation: appearHeader 0.4s ease-in 0.1s backwards;
}

.logoContainer{
    width: 4.5rem;
}


.displayButton{
    width: 5rem;
    position: relative;
}

.navigationElement{
    margin: 1rem 0;
    font-size: large;
}

.navigation li{
    font-size: 20px;
}

.button{
    background-color: transparent;
    border: none;
}

.menu{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    animation: appearMenu 0.3s ease-in forwards;
    z-index: 100;
}

.disappear{
   
     display: none;
}

@media (max-width: 1200px) {

    .logoContainer{
        width: 70px;
    }
    .displayButton{
        width: 90px;
    }

    .header{
        padding: 10px 10px 0 10px;
    }
}


@media (max-width: 1000px) {

    .logoContainer{
        width: 60px;
    }

    .displayButton{
        width: 70px;
    }

    .header{
        padding: 10px 10px 0 10px;
    }
}

@media (max-width: 700px) {

    .logoContainer{
        width: 50px;
    }

    .displayButton{
        width: 50px;
    }

    .header{
        padding: 8px 8px 0 8px;
    }

    .scrollDown  {
        transform: translateY(-100%);
    }
    
    .scrollUp  {
        transform: translateY(0);
    }
}

@media (max-width: 500px) {

    .logoContainer{
        width: 50px;
    }

     .displayButton{
        height: 60px;
        width: 70px;
    }

    .header{
        padding: 8px;
    }
}


@keyframes appearHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes appearMenu {
    0%{
        display: none;
        transform: translate(5vh, 0);
        opacity: 0;
    }
    10%{
        display: flex;
    }
    30%{    
        opacity: 1;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}