.st0{fill:none;}
	.st1{fill:#4E3620;}
	.st2{fill:#F8F4E1;}
	.st3{fill:#EAE6D6;}
	.st4{fill:#77756F;}
	.st5{fill:#A09E98;}
	.st6{fill:#66BAAF;}
	.st7{fill:none;stroke:#4E3620;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st8{fill:#4E3620;stroke:#4E3620;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}

    .container{
        enable-background:new 0 0 866 834;
    }